<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <configSections>
     <section name="CommandLineSettings" type="Console.Args.Config.ConfigSection, Console"/>
   </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
<CommandLineSettiongs optionDelimiter="-">
  <Options>
    <add longName="InputFile" shortName="i" helpText="Path to input file" isRequired="true" minArguments="One" maxArguments="One" />
    <add longName="InputHeaders" shortName="ih" helpText="Assume input file has headers" isRequired="true" minArguments="Zero" maxArguments="Zero" />
    <add longName="OutputFile" shortName="o" helpText="Path to output file. Outputs to console if omitted" isRequired="false" minArguments="One" maxArguments="One" />\
    <add longName="OutputHeaders" shortName="oh" helpText="Puts headers on the first row of the output. Omits headers if omitted" isRequired="false" minArguments="Zero" maxArguments="Zero" />
  </Options>
</CommandLineSettiongs>
</configuration>